@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600;700&family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:wght@600;700&display=swap');
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}
.font-name {
  font-family: 'Cormorant Garamond', serif;
}

body {
  margin: 0;
  background: #050816;
  color: white;
  font-family: Inter, sans-serif;
}

body {
  font-family: 'Inter', sans-serif;
}

.font-heading {
  font-family: 'Playfair Display', serif;
}

@keyframes floatGlow {
  0%,100% {
    transform: translate(0,0);
  }

  50% {
    transform: translate(40px,-40px);
  }
}

.glow-1 {
  animation: floatGlow 14s ease-in-out infinite;
}

.glow-2 {
  animation: floatGlow 18s ease-in-out infinite reverse;
}

.gradient-text {
  background: linear-gradient(
    90deg,
    #06b6d4,
    #22d3ee
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.project-card {
  transition:
    transform .4s ease,
    box-shadow .4s ease;
}

.project-card:hover {
  transform: translateY(-10px);

  box-shadow:
    0 30px 60px rgba(0,0,0,.35);
}

.timeline-card {
  transition: all 0.3s ease;
}

.timeline-card:hover {
  transform: translateX(6px);
}